In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
my_arr = np.array(my_data)
my_dict = {'a':10,'b':20,'c':30}

In [3]:
labels

['a', 'b', 'c']

In [4]:
my_data

[10, 20, 30]

In [5]:
my_arr

array([10, 20, 30])

In [6]:
my_dict

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(data=my_arr)

0    10
1    20
2    30
dtype: int32

In [13]:
pd.Series(my_arr,labels)

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [16]:
ser1=pd.Series([1,2,3,4],['USA','INDIA','RUSSIA','FRANCE'])

In [17]:
ser1

USA       1
INDIA     2
RUSSIA    3
FRANCE    4
dtype: int64

In [18]:
ser1['INDIA']

2

In [19]:
ser2=pd.Series(labels)

In [20]:
ser2

0    a
1    b
2    c
dtype: object

In [21]:
ser2[2]

'c'

In [24]:
ser2[0]

'a'

ser3 = pd.Series([20,30,40,50],['USA','INDIA','ITLY','FRANCE'])

In [25]:
ser3 = pd.Series([20,30,40,50],['USA','INDIA','ITLY','FRANCE'])

In [27]:
ser1 + ser3

FRANCE    54.0
INDIA     32.0
ITLY       NaN
RUSSIA     NaN
USA       21.0
dtype: float64