In [1]:
## Plotly and basemap extention in matplotlib can be used for geographical plotting

In [2]:
## Choropleth Maps

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
import pandas as pd

In [7]:
init_notebook_mode(connected=True)

In [16]:
## Build dictionary  
data = dict(type='choropleth',
            locations=['AZ','CA','NY'],
            locationmode='USA-states',
            colorscale='portland',
            text=['text 1','text 2','text 3'],
            z=[1.0,2.0,3.0],
            colorbar={'title':'Colorbar Title Goes Here'}
           )

In [17]:
data

{'type': 'choropleth',
 'locations': ['AZ', 'CA', 'NY'],
 'locationmode': 'USA-states',
 'colorscale': 'portland',
 'text': ['text 1', 'text 2', 'text 3'],
 'z': [1.0, 2.0, 3.0],
 'colorbar': {'title': 'Colorbar Title Goes Here'}}

In [18]:
layout=dict(geo={'scope':'usa'})

In [19]:
layout

{'geo': {'scope': 'usa'}}

In [21]:
choromap=go.Figure(data=[data],layout=layout)

In [22]:
iplot(choromap)

In [27]:
df1=pd.read_csv(r'C:\Users\ss186070\OneDrive - Teradata\Documents\MyDocument\Shib\Learning\Python\Practise\udemyexercise\InputOutputData\2011_US_AGRI_Exports')

In [28]:
df1.head(10)

  code        state  ...   cotton                                               text
0   AL      Alabama  ...   317.61  Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1   AK       Alaska  ...     0.00  Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2   AZ      Arizona  ...   423.95  Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3   AR     Arkansas  ...   665.44  Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4   CA   California  ...  1064.95   California<br>Beef 228.7 Dairy 929.95<br>Frui...
5   CO     Colorado  ...     0.00  Colorado<br>Beef 261.4 Dairy 71.94<br>Fruits 1...
6   CT  Connecticut  ...     0.00  Connecticut<br>Beef 1.1 Dairy 9.49<br>Fruits 1...
7   DE     Delaware  ...     0.00  Delaware<br>Beef 0.4 Dairy 2.3<br>Fruits 1.53 ...
8   FL      Florida  ...    78.24  Florida<br>Beef 42.6 Dairy 66.31<br>Fruits 137...
9   GA      Georgia  ...  1154.07  Georgia<br>Beef 31.0 Dairy 38.38<br>Fruits 233...

[10 rows x 18 columns]

In [30]:
df1.shape

(50, 18)

In [31]:
len(df1)

50

In [32]:
df1.describe()

       total exports        beef  ...        wheat      cotton
count      50.000000   50.000000  ...    50.000000    50.00000
mean     2728.889000  108.394000  ...   222.824000   169.32500
std      3144.837608  193.762904  ...   362.291291   402.92782
min        13.310000    0.100000  ...     0.000000     0.00000
25%       465.142500   13.400000  ...     8.500000     0.00000
50%      1822.950000   41.050000  ...    78.100000     0.00000
75%      3768.665000  106.725000  ...   248.725000   102.46500
max     16472.880000  961.000000  ...  1664.500000  2308.76000

[8 rows x 14 columns]

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 18 columns):
code             50 non-null object
state            50 non-null object
category         50 non-null object
total exports    50 non-null float64
beef             50 non-null float64
pork             50 non-null float64
poultry          50 non-null float64
dairy            50 non-null float64
fruits fresh     50 non-null float64
fruits proc      50 non-null float64
total fruits     50 non-null float64
veggies fresh    50 non-null float64
veggies proc     50 non-null float64
total veggies    50 non-null float64
corn             50 non-null float64
wheat            50 non-null float64
cotton           50 non-null float64
text             50 non-null object
dtypes: float64(14), object(4)
memory usage: 7.2+ KB

In [34]:
df1.code

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     FL
9     GA
10    HI
11    ID
12    IL
13    IN
14    IA
15    KS
16    KY
17    LA
18    ME
19    MD
20    MA
21    MI
22    MN
23    MS
24    MO
25    MT
26    NE
27    NV
28    NH
29    NJ
30    NM
31    NY
32    NC
33    ND
34    OH
35    OK
36    OR
37    PA
38    RI
39    SC
40    SD
41    TN
42    TX
43    UT
44    VT
45    VA
46    WA
47    WV
48    WI
49    WY
Name: code, dtype: object

In [48]:
df_data=dict(type='choropleth',
             colorscale='YlOrRd', ## scale color is yelowOrangeRed
             locations=df1['code'],
             locationmode='USA-states',
             z=df1['total exports'],  ## what is the color bar actually representing
             text=df1['text'],
             marker=dict(line=dict(color='rgb(255,255,255)',width=1)),
             colorbar={'title':'Millions USD'})

In [49]:
layout=dict(title='US Agricultural exports by state',geo=dict(scope='usa',showlakes=True,lakecolor='rgb(85,173,240)'))

In [50]:
choromap2=go.Figure(data=[df_data],layout=layout)

In [51]:
iplot(choromap2)