In [1]:
## Disctionary

In [3]:
d={'key1':'value','key2':123}

In [4]:
d['key1']

'value'

In [5]:
d['key1'][1]

'a'

In [9]:
d={'key1':[1,2,3]}

In [11]:
d['key1'][1]

2

In [12]:
d2={'key1':{'fruit':['apple','banana','organe']}}

In [16]:
d2['key1']['fruit']

['apple', 'banana', 'organe']

In [17]:
d2['key1']['fruit'][2]

'organe'

In [18]:
## boolean

In [19]:
True

True

In [20]:
False

False

In [21]:
##Touple is similar to list but only deifference is : we can change the value of list any time(its mutable) but touple is not possible 
## (its not mutable)

In [22]:
t=(1,2,3)

In [23]:
t[0]

1

In [24]:
list=[1,2,3]

In [25]:
list[1]

2

In [26]:
list[1]=5

In [27]:
list

[1, 5, 3]

In [28]:
t

(1, 2, 3)

In [29]:
t[0]=9

TypeError: 'tuple' object does not support item assignment

In [30]:
## Work on set : set does not contain duplicate value ,stored in ascending order

In [31]:
{1,2,3,4}

{1, 2, 3, 4}

In [32]:
{1,2,1,2,3,3,56,7,4,5,6}

{1, 2, 3, 4, 5, 6, 7, 56}

In [34]:
set([1,1,2,3,4,4,1,45,7,9,41,42,42])

{1, 2, 3, 4, 7, 9, 41, 42, 45}

In [36]:
s={1,5,3}

In [37]:
s

{1, 3, 5}

In [38]:
s.add(4)

In [39]:
s

{1, 3, 4, 5}

In [40]:
s.add(4)

In [41]:
s

{1, 3, 4, 5}

In [42]:
## Comparision operator

In [43]:
1<2

True

In [44]:
1>=4

False

In [45]:
1==1

True

In [46]:
1!=5

True

In [47]:
'hi' == 'bye'

False

In [48]:
'HI' == 'hi'

False

In [49]:
'hi' == 'hi'

True

In [50]:
(1<1) and (2==3)

False

In [51]:
(1 == 1) or (2 == 3)

True

In [52]:
True and True

True

In [53]:
True and False

False

In [54]:
False or True

True

In [55]:
False or False

False

In [56]:
if (1<2):
    print("welcome")

welcome

In [57]:
if True:
    print(1)

1

In [58]:
if 1==2:
    print('Frist')
else:
    print('Second')

Second