In [ ]:
## Map function

In [3]:
def multipleby2(in_put):
    return in_put*2

In [4]:
list_1=[1,2,3,4,5,5,6,7,8]
list(map(multipleby2,list_1))

[2, 4, 6, 8, 10, 10, 12, 14, 16]

In [3]:
## lambda fucntion, instead of fuction just use lambda function
result=lambda in_put:in_put*2

In [4]:
result(5)

10

In [8]:
list(map(lambda in_put:in_put*3,list_1))

[3, 6, 9, 12, 15, 15, 18, 21, 24]

In [6]:
## Filter : This is the fucntion which is used to filter something from input In cluding some filter condition
list(filter(lambda in_put: in_put%2==0,list_1)) ## Get only even number from list

[2, 4, 6, 8]

In [7]:
name='My name is Shib'

In [8]:
## String methods
name.lower()

'my name is shib'

In [9]:
name.upper()

'MY NAME IS SHIB'

In [10]:
name.split() ## split the string based on whilte space

['My', 'name', 'is', 'Shib']

In [11]:
tweet='Treanding#on Crypto'

In [12]:
tweet.split('#')

['Treanding', 'on Crypto']

In [13]:
tweet1='Treanding#on Crypto#Cardano'
tweet1.split('#')

['Treanding', 'on Crypto', 'Cardano']

In [15]:
tweet1.split('#')[0]

'Treanding'

In [19]:
dict1={'k1':1,'k2':2}

dict1

In [20]:
dict1

{'k1': 1, 'k2': 2}

In [22]:
dict1.keys()

dict_keys(['k1', 'k2'])

In [25]:
dict1.items()

dict_items([('k1', 1), ('k2', 2)])

In [26]:
dict1.values()

dict_values([1, 2])

In [27]:
lst=[1,2,3,4,5]
lst.pop()

5

In [28]:
lst

[1, 2, 3, 4]

In [29]:
lst_item=lst.pop()

In [30]:
lst_item

4

In [31]:
lst

[1, 2, 3]

In [32]:
lst1=[5,6,7,8,9]

In [33]:
## pop the values from index 2
item1=lst1.pop(2)

In [34]:
item1

7

In [35]:
lst1

[5, 6, 8, 9]

In [37]:
'x' in [1,2,3,4]

False

In [38]:
4 in [1,2,3,4]

True

In [39]:
'x' in ['x','y','z']

True

In [3]:
## Touple
t=[(1,2),(3,4),(5,6)] ## T is list of touples

In [4]:
t

[(1, 2), (3, 4), (5, 6)]

In [6]:
for items in t:
    print(items)

(1, 2)
(3, 4)
(5, 6)

In [8]:
for (itm1,itm2) in t:
    print(itm1)
    print(itm2)

1
2
3
4
5
6

In [9]:
for itm1,itm2 in t:
    print(itm1)
    print(itm2)

1
2
3
4
5
6