In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\ss186070\\OneDrive - Teradata\\Documents\\MyDocument\\Shib\\Learning\\Python\\Practise\\udemyexercise'

In [3]:
df = pd.read_csv("C:\\Users\\ss186070\\OneDrive - Teradata\\Documents\\MyDocument\\Shib\\Learning\\Python\\Practise\\udemyexercise\\InputOutputData\\mycsvfile.csv",sep ='|')

In [5]:
df

    a   b   c   d   e   f
0  11  12  13  14  15  16
1  21  22  23  24  25  26
2  31  32  33  34  35  36
3  41  42  43  44  45  46

In [4]:
df1=df*5

In [9]:
df1

     a    b    c    d    e    f
0   55   60   65   70   75   80
1  105  110  115  120  125  130
2  155  160  165  170  175  180
3  205  210  215  220  225  230

In [7]:
df1.to_csv("C:\\Users\\ss186070\\OneDrive - Teradata\\Documents\\MyDocument\\Shib\\Learning\\Python\\Practise\\udemyexercise\\InputOutputData\\create_csv_from_df.csv",sep = ',',index=False)

In [ ]:
conda install xlrd

In [8]:
df3 = pd.read_excel(r'C:\Users\ss186070\OneDrive - Teradata\Documents\MyDocument\Shib\Learning\Python\Practise\udemyexercise\InputOutputData\MyExcelReadData.xlsx',sheet_name='Sheet1')

In [9]:
df3['location'].values

array(['LA', 'SEATTLE', 'TEXAS'], dtype=object)

In [10]:
df3['location'] = df3['location'].str.lower()

In [11]:
df3

  name  age location
0  xxx   41       la
1  yyy   41  seattle
2  zzz   38    texas

In [12]:
df3.to_excel(r'C:\Users\ss186070\OneDrive - Teradata\Documents\MyDocument\Shib\Learning\Python\Practise\udemyexercise\InputOutputData\MyExcelReadData_output.xlsx',index=False)

In [1]:
print('shib')

shib

In [12]:
pd.read_html('https://finance.yahoo.com/quote/TSLA?p=TSLA')

ValueError: No tables found

In [13]:
conda install lxml

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [14]:
conda install html5lib

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [16]:
conda install BeautifulSoup4

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [12]:
pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1076)>

In [13]:
conda install sqlalchemy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine  ##Libarary to reate sql engine in memory

In [6]:
engine = create_engine('sqlite:///:memory:') ## Create connection to sql database

In [7]:
df_sql = pd.DataFrame({'a':[0,4,8,12],
                       'b':[1,5,9,13],
                       'c':[2,6,10,14],
                       'd':[3,7,11,15]})

In [18]:
df_sql.to_sql('my_table1',con=engine,index=False) ## insert df_sql dataframe data into sql engine in my_table

In [19]:
df_sql_out = pd.read_sql('my_table1',con = engine)

In [21]:
df_sql_out

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
df_sql_out_1 = pd.read_sql('my_table',con = engine)

In [15]:
df_sql_out_1

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15