In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [18]:
## Index Level
outsideindex = ['G1','G1','G1','G2','G2','G2']
innerindex = [1,2,3,1,2,3]
hier_index = list(zip(outsideindex,innerindex))

In [19]:
hier_index ## create list of touples by pairing combining one value of outsideindex  with inside index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [20]:
hier_index=pd.MultiIndex.from_tuples(hier_index) ## create the above touples into nultiindex format

In [21]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [23]:
df

             A         B
G1 1  1.384369 -1.821562
   2  0.239775  0.337251
   3 -0.717043  0.132663
G2 1  0.470804 -1.124420
   2 -0.150546 -0.111702
   3  0.366368 -0.564166

In [16]:
df.loc['G1']

          A         B
1  1.265871 -0.042804
2 -0.795896 -1.043552
3  0.497790 -0.854254

In [24]:
df.loc['G2']

          A         B
1  0.470804 -1.124420
2 -0.150546 -0.111702
3  0.366368 -0.564166

In [25]:
df.loc['G1'].loc[1]

A    1.384369
B   -1.821562
Name: 1, dtype: float64

In [26]:
## give the proper name of index outside and inside
df.index.names=['Groups','Num']

In [27]:
df

                   A         B
Groups Num
G1     1    1.384369 -1.821562
       2    0.239775  0.337251
       3   -0.717043  0.132663
G2     1    0.470804 -1.124420
       2   -0.150546 -0.111702
       3    0.366368 -0.564166

In [30]:
## Grab the values of -0.11702
df.loc['G2'].loc[2]['B']

-0.11170182078363525

In [32]:
##Cross Section example
df.xs('G1')

            A         B
Num
1    1.384369 -1.821562
2    0.239775  0.337251
3   -0.717043  0.132663

In [34]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.384369 -1.821562
G2      0.470804 -1.124420