In [1]:
import numpy as np
import pandas as pd

In [2]:
## read the  SFSalaries.csv into dataframe called sal and convert values into Nan if file has value not provided
sal = pd.read_csv(r'C:\Users\ss186070\OneDrive - Teradata\Documents\MyDocument\Shib\Learning\Python\Practise\udemyexercise\InputOutputData\SFSalaries.csv',na_values='Not Provided')

C:\Users\ss186070\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sal ## Check the head of data frame

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
## use .info() to see how many columns are there and their data type
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148652 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [5]:
sal.count()

Id                  148654
EmployeeName        148652
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status               38119
dtype: int64

In [6]:
## Number of rows in data frame
len(sal)

148654

In [7]:
## Number of columns in dataframe
len(sal.columns)

13

In [8]:
sal.shape  ## Get number of rows and columns

(148654, 13)

In [9]:
sal.size ## get number of elements

1932502

In [10]:
##What is average of base pay
sal['BasePay'].mean()

66325.44884050643

In [11]:
##What is the highest amount of overtimepay in dataset
sal['OvertimePay'].max()

245131.88

In [16]:
## What is the job title of JOSEPH DRISCOLL..note use all uppercase else you will not get answer if that does not macth up
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [17]:
## how does JOSEPH DRISCOLL make including benefits
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [20]:
##what is the name of highest paid person including benefit
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [24]:
##what is the lowest paid person including benefit.do you find  something strange about how much he/she  is paid
sal.iloc[sal['TotalPayBenefits'].argmin()]['EmployeeName']  ## Another approach to get min pay employee

C:\Users\ss186070\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

'Joe Lopez'

In [8]:
## What is average base pay of employee per year
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [10]:
## How many unique job title are there
sal['JobTitle'].nunique()

2159

In [11]:
## How many unique job title are there
len(sal['JobTitle'].unique())

2159

In [16]:
## what are the top 5 most common jobs
result1=sal['JobTitle'].value_counts().head(5)

In [20]:
result1

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [26]:
## How many job titles were represented by only one person in 2013.Job tile with one occurance in 2013
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [27]:
## How many people have the word chief in the job title
## Its 2 step methods. solution :  i. create function which can return true if string has chief key word else return false
### ii. call that function from sal dataframe to get the number of people with job title contains chief with lambda function

### create function here
def chief_string(jobtitle):
    if 'chief' in jobtitle.lower().split():
        return True
    else:
        return False

In [33]:
## use above function inside dataframe for job title
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [34]:
## is there any co relation between lenght of the job title string and salary
sal['tile_len'] = sal['JobTitle'].apply(len)

In [36]:
sal[['tile_len','TotalPay']].corr()

          tile_len  TotalPay
tile_len  1.000000 -0.015356
TotalPay -0.015356  1.000000